body{
    background-color: papayawhip;
}
.container{
    margin:auto;
    width:60%;
    background-color: pink;
    border: 2px solid pink;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
table,th,td,tr{
    /*border: 1px solid beige;*/
    margin: auto;
    text-align: justify;
    width: 100%;
    background-color: ;
}
input#novaTarefa{
    width: 100%;
    border: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    border-color: pink;
    
}
*:focus{
    outline: none;
}
li{
    list-style-type:none;
}